@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #ffffff;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
